<div class="at-widget" id="widget-builder">
  <header class="intro">
    <h2 class="headline">{{sanitize-html attrs.intro.headline "relaxed"}}</h2>

    {{#if attrs.intro.explanatory}}
      <div class="explanatory"><p>{{sanitize-html attrs.intro.explanatory "relaxed"}}</p></div>
    {{/if}}
  </header>

  {{outlet}}
</div>
