<h3 class="partner-details">Widget cut and paste code!</h3>

<fieldset class="code-fields">
  <div class="tip question">Copy and paste the code below to embed widget</div>

  {{textarea value=code class="code-output" cols="30" rows="10"}}

  <div class="tip question">
    Add this to the source code of the web page that you want the widget on.
  </div>

  <div class="tip question">
    <em>Note: this includes JavaScript. Some online publishing systems will
      block it. You may need extra priviledges to be able to add it to your
      page.</em>
  </div>

</fieldset>

{{#ic-modal-trigger class="emph"}}Close{{/ic-modal-trigger}}
